<section class="article">
    <header class="article-header">
        <a href="<%= @article_uri %>">
            <h2 class="article-title"><%= @article_title %></h2>
        </a>
        <p class="article-meta">
            On
            <em class="article-date"><%= @article_date %></em>
            under
            <% @article_tags.each do |tag| %>
                <a class="article-tag <%= tag[:class] %>" 
                   href="<%= tag[:uri] %>">
                    <%= tag[:name] %>
                </a>
            <% end %>
        </p>
    </header>
    <div class="article-description">
        <p><%= @article_description %></p>
    </div>
</section>

