<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Senkbeil - <%= @item[:title] %></title>

        <!-- Import our fancy YUI stylesheet -->
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">

        <!-- Import the lovely icons from FontAwesome -->
        <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">

        <!-- Import our own CSS -->
        <link rel="stylesheet" href="/css/blog.css">

        <meta name="generator" content="nanoc <%= Nanoc::VERSION %>">
    </head>
    <body>
        <header>
            <!-- Navigation Menu -->
            <nav class="pure-menu pure-menu-open pure-menu-horizontal">
                <ul>
                    <% get_all_pages_in_order.each  do |page| %>
                        <li
                        <% if page[:title] == @item[:title] %>
                            class="pure-menu-selected"
                        <% end %>
                        ><a href="<%= page.identifier %>"><%= page[:title] %></a>
                        </li>
                    <% end %>
                </ul>
            </nav>
        </header>

        <section>
            <!-- TODO: Wrap the contents in a prettier package -->
            <%= yield %>
        </section>

        <footer>
            <!-- Copyright information here -->
        </footer>
    </body>
</html>
