<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Senkbeil - <%= @item[:title] %></title>

        <!-- Import our fancy YUI stylesheet -->
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">

        <!-- Import the lovely icons from FontAwesome -->
        <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">

        <!-- Import our own CSS -->
        <link rel="stylesheet" href="/css/blog.css">

        <meta name="generator" content="nanoc <%= Nanoc::VERSION %>">
    </head>
    <body>
        <div class="pure-g-r" id="layout">
            <div class="sidebar pure-u">
                <header>
                    <hgroup>
                        <h1 class="brand-title">Senkbeil.org</h1>
                        <h2 class="brand-tagline">Inside the confusion</h2>
                    </hgroup>

                    <!-- Navigation Menu -->
                    <nav class="pure-menu pure-menu-open">
                        <ul>
                            <% get_all_pages_in_order.each  do |page| %>
                                <li
                                <% if page[:title] == @item[:title] %>
                                    class="pure-menu-selected"
                                <% end %>
                                ><a href="<%= page.identifier %>"><%= page[:title] %></a>
                                </li>
                            <% end %>
                        </ul>
                    </nav>
                </header>
            </div>

            <div class="pure-u-1">
                <div class="content">
                    <%= yield %>
                </div>
                <footer>
                    <!-- Copyright information here -->
                </footer>
            </div>
        </div>
    </body>
</html>
